/* * {
  padding: 2%;
} */

body {
  height: 100vh;
  background-image: url(../img/93639-jasper-national-park-hd-hd-desktop-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-body {
  background-color: #213a1b !important;
}

#hero {
  color: #56903a;
}

#colorName {
  color: white;
}

#sub {
  color: #c56c39;
}

#contactUs {
  padding: 1%;
}

.auto-complete-scroll {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.imgOne {
  max-height: 350px;
}

.wrapButtonText {
  height: max-content;
  white-space: inherit;
}

.custom-trail {
width: 40%;
background-color: #56903a;
border-radius: .3rem;
padding-block: .2rem;
}

.custom-trail a {  
  color: white;
}

.custom-trail a:hover {
  color: #212121;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}