* {
  padding: 2%;
}

body {
  background-color: #494440;
  background-image: url(../img/93639-jasper-national-park-hd-hd-desktop-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-body {
  background-color: #213a1b;
  margin: 1px;
}

#hero {
  color: #56903a;
  
}

#colorName {
  color: white;
}

#sub {
  color: #c56c39;
}

#contactUs {
  padding: 1%;
}

.imgOne {
    max-height: 250px;
    max-width: 100%;
}