* {
  padding: 2%;
}

body {
  background-color: #494440;
  background-image: url(../img/93639-jasper-national-park-hd-hd-desktop-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-body {
  background-color: #213a1b;
  margin: 1px;
}

#hero {
  color: #56903a;
}

#colorName {
  color: white;
}

#sub {
  color: #c56c39;
}

#contactUs {
  padding: 1%;
}

.auto-complete-scroll {
  max-height: 500px;
     overflow-y: auto;
     overflow-x: hidden;
}

.imgOne {
  max-height: 350px;
}

.wrapButtonText {
  height: max-content;
  white-space: inherit;
}

.custom-trail a {
  background-color: #56903a;
  color: white;
  border-radius: .3rem;
  text-align: center;
  padding-block: .2rem;
}

.custom-trail a:hover {
  background-color: hsl(100, 43%, 60%);
  color: #212121;
}
