* {
  font-family: 'Times New Roman', Times, serif;
}
body {  
  background-image: url(../img/93639-jasper-national-park-hd-hd-desktop-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
  padding: 2%;
}

.hero-body {
  background-color: #213a1b !important;
}

#hero {
  color: #56903a;
}

#colorName {
  color: white;
}

#sub {
  color: #c56c39;
}

#contactUs {
  padding: 0.5%;
}

.auto-complete-scroll {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.custom-content {
  min-height: 600px;
}

.imgOne {
  max-height: 350px;
  width: 100%;
  object-fit: cover;
}

.imgTwo {
  max-height: 350px;
  width: 100%;
  object-fit: cover;
}

.wrapButtonText {
  height: max-content;
  white-space: inherit;
}

#map {
  max-width: 40rem;
  min-height: 30rem;
  border-radius: .5rem;
}

.footer {
background-color: #213a1b;
color: white;
padding: 2%;
}

.weatherCard {
  padding: 20px 0 0 0;
  color: white ;
  font-size: 30px;
  background-image: url(../img/261669-national-parks-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
  font-family: 'Times New Roman', Times, serif;
}

.backGround {
  color: black;
  font-family:'Times New Roman', Times, serif
}